{% extends "base.html" %}
{% block title %}{{ product.name }} - Меню{% endblock %}

{% block content %}
<div class="container py-5">
    <!-- Хлебные крошки -->
    <nav aria-label="breadcrumb" class="mb-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('dashboard') }}"
                    class="text-decoration-none text-muted">Меню</a></li>
            <li class="breadcrumb-item active">{{ product.name }}</li>
        </ol>
    </nav>

    <!-- Карточка товара -->
    <div class="row g-5 mb-5">
        <div class="col-lg-6">
            <div class="bg-white rounded-4 border p-5 d-flex align-items-center justify-content-center shadow-sm"
                style="height: 400px;">
                <image src="{{ url_for('static', filename='images/products/' + id|string + '.png') }}" style="width: 360px;"></image>
            </div>
        </div>
        <div class="col-lg-6">
            <h1 class="fw-bold">{{ product.name }}</h1>
            <h2 class="text-primary fw-bold mb-3">{{ product.price }} ₽</h2>
            <p class="lead text-secondary">{{ product.description }}</p>

            {% if rights == 1 %}
            <a class="btn btn-primary-custom btn-pill px-5 py-3 shadow-sm" href="{{ url_for('add_to_cart', id=id) }}">Добавить в заказ</a>
            {% elif rights == 0 %}
            <a href="{{ url_for('login') }}" class="btn btn-outline-primary btn-pill px-4">Войдите, чтобы заказать</a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    var globstars = 5;
    function rate(stars) {
        const icons = document.querySelectorAll('.rating-input i');
        globstars = stars;
        icons.forEach((icon, index) => {
            if (index < stars) {
                icon.classList.remove('bi-star');
                icon.classList.add('bi-star-fill');
            } else {
                icon.classList.remove('bi-star-fill');
                icon.classList.add('bi-star');
            }
        });
    }
    document.getElementById('reviewForm').addEventListener('submit', function (e) {
        document.getElementById('stars').value = globstars;
    });
</script>
{% endblock %}